* {
    box-sizing: border-box;
    font-family: sans-serif;

    .header-container {
        padding: 3%;
        text-align: center;
        background-color: #120323;
        color: #97bf04;
    }

    aside {
        padding: 1%;
        background-color: #97bf04;
    }

    footer {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 3%;
        background-color: #d9043d;
        color: white;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        .header-container {
            text-align: center;
            float: none;
            max-width: 100%;
        }
        figure {
            img {
                border: 5px red solid;
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
            }
        }
    }

    @media screen and (max-width: 1000px)and (min-width: 768px) {
        .header-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            padding-left: 20px;
        }

        figure {
            border-radius: 2px;
            display: flex;
            flex-direction: row;

            img {
                border: 5px red solid;
                float: left;
                width: 310%;
                margin-top: 20px;
            }

            figcaption {
                padding-left: 230px;
            }
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    @media screen and (min-width: 1000px) {
        .header-container {
            padding: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            padding-left: 20px;
        }
        #container {
            display: flex;
            justify-content: flex-start;
            figure {
                display: flex;
                flex-direction: row;
                img {
                    display: flexbox;
                    border: 5px red solid;
                    max-width: 180%;
                    height: auto;
                    margin-top: 20px;
                    
                }
                figcaption {
                    padding-left: 135px;
                }
                padding-top: 20px;
                padding-bottom: 20px;
            }
            aside {
                margin-top: 2%;
                margin-bottom: 2%;
                background-color: #97bf04;
            }
        }
        footer {
            padding: 2%;
        }
    }
}

